.jobcard
{
    width: 700px !important;
    height: auto !important;
    text-align: left;
}

.card .card-header
{
    font-size: 30px !important;
    font-weight: 900;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.jobcard .card-text {
  white-space: pre-line;     
  line-height: 1.6;           
  font-size: 1rem;
  color: #333;
}

.bt
{
  margin-right: 20px !important;
}