.main
{
   width: 1200px;
   height: 100px;
   margin: 30px;
   position: relative;
}

.main .partone
{
    width: 500px;
    height: 100px;
}

.main a{
    text-decoration: none;
}

.main .parttwo
{
    width: 500px;
    height: 100px;
}

.card
{
    margin: 20px !important;
    border-radius: 20px !important;
    border: 2px solid rgb(28, 51, 221);
}

.card-body
{
    text-align: left !important;
}

.card-title
{
    font-weight: 700;
}

.badge
{
    font-size: 0.8rem !important;
    padding: 10px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    background-color: rgb(185, 238, 185) !important;
    color: rgb(12, 103, 12) !important;
    font-weight: 900 !important;
    margin-right: 15px !important;
}

.save {
  position: absolute;
  top: 10px;
  right: 15px;
  gap: 10px;
  font-weight: 500;
  color: #007bff;
  cursor: pointer;
  font-size: 20px;
}
