body {
  background-color: #f7f8fa;
}

.jobform {
  max-width: 900px;
  margin: auto;
  border: 1px solid #ddd;
}


.fields
{
    margin-bottom: 30px !important;
}

.wow
{
  display: flex;
}

.wow .hmm
{
  margin-right: 0px !important;
}

.wow .see
{
  margin-right: 240px;
}